<div id="body-pd" th:fragment="sidebar">
    <header class="header" id="header">
        <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
        <div class="header_img"><img alt="meteor cleaning logo no background" src="/images/logo-no-background.png">
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div><a class="nav_logo" href="/"> <i class='bx bx-layer nav_logo-icon'></i> <span
                    class="nav_logo-name">MeteorCleaning</span> </a>
                <div class="nav_list">

                    <a class="nav_link" th:classappend="${#request.getServletPath() == '/admin' ? 'active' : ''}" th:href="@{/admin}">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Orders</span> </a>

                    <a class="nav_link" href="#">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Users</span> </a>

                    <a class="nav_link" th:classappend="${#request.getServletPath() == '/admin/prices' ? 'active' : ''}" th:href="@{/admin/prices}">
                        <i class='bx bxs-badge-dollar bx-sm'></i>
                        <span class="nav_name">Prices</span> </a>

                    <a class="nav_link" href="#"> <i class='bx bx-bookmark nav_icon'></i> <span
                            class="nav_name">Bookmark</span> </a>

                    <a class="nav_link" href="#">
                        <i class='bx bx-folder nav_icon'></i>
                        <span class="nav_name">Files</span> </a>

                    <a class="nav_link" href="#">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Stats</span>
                    </a>
                </div>
            </div>
            <a class="nav_link" href="#" th:href="@{/logout}"> <i class='bx bx-log-out nav_icon'></i> <span
                    class="nav_name">SignOut</span> </a>
        </nav>
    </div>
</div>