html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 12% 1fr 12%;
    grid-template-rows: 50px 1fr auto;
    grid-template-areas:
        "nav nav nav"
        ". main ."
        ". how-it-works ."
        ". solutions ."
        ". services ."
        " . create ."
        ". faq ."
        "footer footer footer";
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: self-end;
}

nav {
    grid-area: nav;
}

#carouselBook1,
#carouselBook2,
#carouselBook3 {
    font-size: x-large !important;
}

#login-section {
    display: none;
    grid-area: login;
    align-self: center;
    justify-self: center;
    margin-top: 3%;
}


.modal,
.modal-overlay {
    display: none;
}

.modal-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgb(0, 0, 0, 0.8);
}

.provide-details {
    grid-area: details;
    padding-left: 5%;
}

.profile-edit {
    grid-area: login-edit;
}

.modal.active {
    /* This way it could be display flex or grid or whatever also. */
    display: grid;
    grid-template-areas:
        "details right"
        "left right"
        "close close";
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    /* align-items: center; */
    /* align-content: center; */

    border-radius: 15px;

    /* Probably need media queries here */
    width: 60%;
    max-width: 100%;

    height: fit-content;
    max-height: 100%;

    position: fixed;

    z-index: 100;

    left: 50%;
    top: 50%;

    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal.active.login {
    grid-template-areas:
        "login login"
        "details details"
        "left right"
        "close close";
}

.modal.active.profile-login {
    grid-template-areas:
        "login login"
        "close close";
    width: 29em;
    height: fit-content;
}

.modal.active.profile-edit {
    grid-template-areas:
        "modal-buttons modal-buttons"
        "login-edit login-edit"
        "close close";
}

.modal.active.profile-order {
    grid-template-areas:
        "modal-buttons modal-buttons"
        "details right"
        "left right"
        "close close";
}

.modal.active.profile-archive {
    grid-template-areas:
        "modal-buttons"
        "table"
        "close";
    grid-template-columns: auto;
}

/* "modal-buttons modal-buttons"
"table table"
"login-edit login-edit"
"login login"
"details details"
"left right"
"close close"; */


.caption-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.services {
    grid-area: services;
    display: grid;
    justify-items: center;
    gap: 10px;
    background: #fbfbfb;
    margin-top: 2rem;
}

.services-inside {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.service-card {
    width: 14rem;
}

@media (max-width: 992px) {
    .wrapper {
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas:
            "nav"
            "main"
            "how-it-works"
            "solutions"
            "services"
            "create"
            "faq"
            "footer";
    }

    .work-time {
        display: none;
    }

    .img-logo {
        display: none;
    }

    .caption-text {
        display: none;
    }

    .service-card {
        width: 10rem;
    }

    .create-account {
        gap: 10px;
        padding: 2%;

    }

    .provide-details {
        padding-left: 0;

    }
}



footer {
    grid-area: footer;
    justify-self: normal;
}

.modal-left-aside {
    grid-area: left;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-left: 5%;
}

.estimate-form {
    width: 100%;
    height: 100%;
}

.modal-right-aside {
    grid-area: right;
    display: grid;
    padding-right: 15%;

}

.carousel-caption-item {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.close-button {
    grid-area: close;
    display: flex;
    flex-direction: column;
    align-self: end;

}

.carousel-caption {
    position: absolute !important;
    top: 50% !important;
    padding-top: 0 !important;
    color: #000000 !important;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc !important;


}

.house-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.select-wrap-col {
    justify-self: center;
    grid-column: span 2;
}

.profile-buttons {
    display: flex;
    grid-area: modal-buttons;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    align-self: start;

}

.login-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.archive-table {
    grid-area: table;
    align-self: center;
    justify-self: center;
}

@media (max-width: 900px) {
    .modal.active {
        grid-template-columns: 1fr;

        align-content: space-between;

        grid-template-areas:
            "details"
            "left"
            "right"
            "close";
        justify-items: center;
        min-width: 100%;
        min-height: 100%;
    }

    .modal.active.login {
        grid-template-areas:
            "login"
            "details"
            "left"
            "right"
            "close";
    }

    .modal.active.profile-login {
        grid-template-areas:
            "login"
            "close";
        width: 29em;
        height: fit-content;
    }

    .modal.active.profile-edit {
        grid-template-areas:
            "modal-buttons"
            "login-edit"
            "close";
    }

    .modal.active.profile-order {
        grid-template-areas:
            "modal-buttons"
            "details"
            "left"
            "right"
            "close";
    }

    .modal.active.profile-archive {
        grid-template-areas:
            "modal-buttons"
            "table"
            "close";
    }

    .archive-table {
        width: auto;
        align-self: center;
        justify-self: center;
    }

    #login-section {
        width: auto;
    }

    .modal-right-aside {
        justify-self: normal;
        align-self: auto;
        padding-right: 0;
    }

    .modal-left-aside {
        width: 80%;
        padding: 0;
    }

    .close-button {
        justify-self: normal;
    }

    .house-form {
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: none;
        padding: 0;
    }

    .select-wrap-col {

        justify-self: center;
        grid-column: auto;
    }

    .profile-buttons {
        display: flex;
        padding-top: 70px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .login-profile {
        display: block;
    }
}

.modal .close-button-x {
    display: block;
    position: absolute;

    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;

    top: 10px;

    /* needs to look OK with or without scrollbar */
    right: 20px;

    padding: 5px 10px;
    font-size: 1.3rem;

}

.modal-main {
    grid-area: center;
}




.select-wrap {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;

}

.row {
    justify-content: center;
}

.select-interval {
    display: none;
}

.select-interval.active {
    display: flex;
}

#square-count,
#window-count,
#cabinet-count {
    display: none;
}

#square-count.active,
#window-count.active,
#cabinet-count.active {
    display: flex;
}


/* CSS */
.button-5 {

    align-items: center;
    background-clip: padding-box;
    background-color: rgba(82, 81, 66, 0.5);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    /* min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px); */
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.button-5:hover,
.button-5:focus {
    background-color: #2b2522;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/*effect-underline*/
.effect-underline {
    position: relative;
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 10px;
    display: inline-block;
    height: 0;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.disabled {
    background-color: rgb(58, 0, 0);
    color: rgb(58, 0, 0);
}

.error {
    background-color: #f9e1e5;
    color: #af233a;
    padding: 0.4rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.headerText {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.create-account {
    display: grid;
    grid-area: create;
    justify-items: center;
    margin-top: 2rem;


}

.create-wraper {
    height: 100%;
    width: 100%;
}

#registration-message {
    display: none;
}

#navlogin-bar {
    display: flex;
    align-items: center;
}

.payment-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.greenClass {
    background-color: #d4edda !important;
}

.how-it-works {
    grid-area: how-it-works;
    display: grid;
    background: #fbfbfb;
    margin-top: 2rem;


}

.card-wraper {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px; */
}

.mcard {
    display: grid;
    width: 200px;
    text-align: center;
    justify-items: center;
    padding: 10px;
}

.mcard-img {

    width: 150px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /* box-shadow: rgba(13, 110, 253, 0.4) -5px -5px , rgba(13, 110, 253, 0.3) -10px -10px, rgba(13, 110, 253, 0.2) -15px -15px, rgba(13, 110, 253, 0.1) -20px -20px, rgba(13, 110, 253, 0.05) -25px -25px; */
    border-radius: 50%;
}

.mcard-guts {
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
}


.solutions {
    display: grid;
    grid-area: solutions;
    margin-top: 2rem;
}

.img-solutions {
    max-width: 100%;

    height: auto;
    margin: 10px;
}

.solutions-inside {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    /* align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5,200px); */
}

.faq-accordion {
    display: grid;
    grid-area: faq;
    margin-top: 2rem;
}

.faq-inside {
    display: grid;
}

.map {
    margin: 2rem;
    padding: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    justify-self: center;
}

.phone-number {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    width: 100%;
}

.bubble {
    font-family: "Press Start 2P", cursive;
    min-width: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 15px;
    background-color: #61a1d1;
    color: #fff;
    padding: 12px;
    box-shadow: 0 -4px #fff, 0 -8px #374151, 4px 0 #fff, 4px -4px #374151, 8px 0 #374151, 0 4px #fff, 0 8px #374151,
    -4px 0 #fff, -4px 4px #374151, -8px 0 #374151, -4px -4px #374151, 4px 4px #374151, 4px 12px rgba(0, 0, 0, 0.1),
    12px 4px rgba(0, 0, 0, 0.1), 8px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.bubble::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 4px;
    width: 4px;
    top: -8px;
    left: 32px;
    box-shadow: 0 -4px #374151, 0 -8px #374151, 0 -12px #374151, 0 -16px #374151, -4px -12px #374151,
    -8px -8px #374151, -12px -4px #000, -4px -4px #fff, -8px -4px #fff, -4px -8px #fff,
    -4px 0 #fff, -8px 0 #fff, -12px 0 #fff;
}

@media (max-width: 992px) {
    .solutions-inside {

        grid-template-columns: repeat(5, 1fr);

        /* align-items: center;
        justify-items: center;
        grid-template-columns: repeat(5,200px); */
    }

    .bubble {
        font-size: x-small;
    }

    .mcard {
        width: 20rem;
    }

    p {
        padding: 5%;
    }

    .img-solutions {
        max-width: 100%;
    }

    #map-frame {
        width: 100%;
    }

    #zipcode {
        margin-top: 0.75rem;
    }

    .map {
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0;
    }

    .payment-buttons {
        padding: 0;
        gap: .5rem;
    }

}