<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link href="/css/edit.css" rel="stylesheet">

    <style>
        .wraper {
            display: grid;
            justify-content: center;
        }

        .house-form {
            display: grid;
            justify-content: space-around;
            gap: 10px;
            grid-template-areas:
                "user user user"
                "house options date"
            ;
        }

        @media screen and (max-width: 900px) {
            .house-form {
                display: grid;
                justify-content: center;
                gap: 10px;
                grid-template-areas:
                    "user "
                    "house "
                    "options"
                    "date"
                ;

            }

            .options {

                justify-self: center;
            }
        }

        .user-data {
            grid-area: user;
        }

        .house-data {
            grid-area: house;
            justify-self: center;
            width: max-content;
        }

        .options {
            grid-area: options;
            width: max-content;
        }

        .date {
            justify-self: center;
            grid-area: date;
            display: grid;
        }

        .option-wrap {
            display: flex;
            justify-content: space-between;
            width: 200px;
            align-items: center;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            white-space: nowrap;
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: .375rem;
        }

        .buttons {
            align-self: flex-end;
            display: flex;
            gap: 30px;
            justify-content: space-between;
            flex-direction: column;
        }
    </style>
</head>

<body>

    <div th:insert="fragments/components :: sidebar"></div>


    <div class="wraper">
        <form action="#" class="estimate-form" id="estimate" method="post" th:action="@{/admin/orders/save}"
              th:object="${order}">
            <input th:field="*{id}" type="hidden"/>
            <input th:field="*{user}" type="hidden"/>

            <div class="house-form shadow-sm p-3 mb-5 bg-body rounded ">
                <div class="user-data shadow-sm p-3 mb-5 bg-body rounded">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-1">
                        <div class="col">
                            <div class="form-outline">
                                <input class="form-control" form="estimate" id="firstName" required th:field="*{name}"
                                       type="text"/>
                                <label class="form-label" for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input class="form-control" form="estimate" id="lastName" th:field="*{lastName}"
                                    type="text" />
                                <label class="form-label" for="lastName">Last name</label>
                            </div>
                        </div>
                    </div>


                    <!-- Text input -->
                    <div class="form-outline mb-1">
                        <input class="form-control" form="estimate" id="address" required th:field="*{address}"
                            type="text" />
                        <label class="form-label" for="address">Address</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-1">
                        <input class="form-control" form="estimate" id="email" required th:field="*{email}"
                            type="email" />
                        <label class="form-label" for="email">Email</label>
                    </div>

                    <!-- Number input -->
                    <div class="form-outline mb-1">
                        <input class="form-control" form="estimate" id="phone" required th:field="*{phone}"
                            type="number" />
                        <label class="form-label" for="phone">Phone</label>
                    </div>

                </div>

                <div class="house-data shadow p-3 mb-5 bg-body rounded">
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="housing-type">Housing type:</label>
                        <select class="form-select" form="estimate" id="housing-type" th:field="*{housingType}">
                            <option value="0">Studio</option>
                            <option value="1">Apartments</option>
                            <option value="2">House</option>
                            <option value="3">Office</option>
                        </select>
                    </div>

                    <div class="input-group mb-2" id="square-count">
                        <label class="input-group-text" for="square-ft">square ft :</label>
                        <input class="form-control" form="estimate" id="square-ft" max="10000" min="100"
                            th:field="*{squareFt}" type="number" value="100" />
                    </div>


                    <div class="input-group mb-2">
                        <label class="input-group-text" for="bedroom-count">Bedroom:</label>
                        <select class="form-select" form="estimate" id="bedroom-count" th:field="*{bedrooms}">
                            <option selected value="0">One</option>
                            <option value="1">Two</option>
                            <option value="2">Three</option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <label class="input-group-text" for="bathroom-count">Bathroom:</label>
                        <select class="form-select" form="estimate" id="bathroom-count" th:field="*{bathrooms}">
                            <option selected value="0">One</option>
                            <option value="1">Two</option>
                            <option value="2">Three</option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <label class="input-group-text" for="half-bathroom-count">1/2 bathroom:</label>
                        <select class="form-select" form="estimate" id="half-bathroom-count"
                            th:field="*{halfBathrooms}">
                            <option selected value="0">none</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                        </select>
                    </div>

                    <div class="input-group mb-2">
                        <label class="input-group-text" for="windowCheck">Windows inside :</label>
                        <input class="form-control" form="estimate" id="windowCheck" max="15" min="0"
                            th:field="*{windowClean}" type="number" value="0" />
                    </div>



                    <div class="input-group mb-2">
                        <label class="input-group-text" for="cabinetCheck">Cabinet inside :</label>
                        <input class="form-control" form="estimate" id="cabinetCheck" max="15" min="0"
                            th:field="*{cabinetClean}" type="number" value="0" />
                    </div>

                </div>

                <div class="options shadow p-3 mb-5 bg-body rounded">

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="greenCheck">Green clean :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" form="estimate" id="greenCheck"
                                th:checked="${order.greenClean}" th:field="*{greenClean}" type="checkbox"
                                value="green" />
                        </div>
                    </div>

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="deepCheck">Deep clean :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input " form="estimate" id="deepCheck"
                                th:checked="${order.deepClean}" th:field="*{deepClean}" type="checkbox" value="deep" />
                        </div>
                    </div>

                    <!-- <div class="select-wrap">
                <label for="steamCheck">Steam clean :</label>
                <input class="form-check-input" form="estimate" id="steamCheck" type="checkbox"
                    value="steam" />
            </div> -->

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="microwaveCheck">Microvawe clean :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" form="estimate" id="microwaveCheck"
                                th:checked="${order.microwaveClean}" th:field="*{microwaveClean}" type="checkbox"
                                value="microwave" />
                        </div>
                    </div>

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="refrigeratorCheck">Refrigerator clean :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" form="estimate" id="refrigeratorCheck"
                                th:checked="${order.refrigeratorClean}" th:field="*{refrigeratorClean}" type="checkbox"
                                value="refrigerator" />
                        </div>
                    </div>

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="ovenCheck">Oven clean :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" form="estimate" id="ovenCheck"
                                th:checked="${order.ovenClean}" th:field="*{ovenClean}" type="checkbox" value="oven" />
                        </div>
                    </div>

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="dishesCheck">Dishes wash :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" form="estimate" id="dishesCheck"
                                th:checked="${order.dishesClean}" th:field="*{dishesClean}" type="checkbox"
                                value="dishes" />
                        </div>
                    </div>




                </div>
                <input id="date-field" th:field="*{dateTime}" type="hidden"></input>
                <input th:field="*{estimatedTime}" type="hidden"></input>

                <div class="date shadow p-3 mb-5 bg-body rounded">
                    <div>
                        <label for="estimate-time">Date :</label>
                        <input class="date-selector mb-3" form="estimate" id="estimate-time" name="estimate-time"
                               required type="date">
                        <div class="select-interval mb-3">
                            <label for="select-time-interval">Choose time:</label>
                            <select class="select" form="estimate" id="select-time-interval">
                                <option selected value="0">11:AM - 2:PM</option>
                                <option value="1">3:PM - 6:PM</option>
                            </select>
                        </div>
                    </div>

                    <div class="option-wrap border border-1 rounded mb-2">
                        <label for="paidCheck">Order is paid :</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input " form="estimate" id="paidCheck"
                                   th:checked="${order.paid}" th:field="*{paid}" type="checkbox"/>
                        </div>
                    </div>

                    <div class="input-group mb-2">
                        <label class="input-group-text" for="totalPrice">Estimated price :</label>
                        <input class="form-control" form="estimate" id="totalPrice" max="10000" min="1" step="any"
                               th:field="*{estimatedPrice}" type="number" value="100"/>
                    </div>

                    <div class="buttons">
                        <input class="btn btn-success btn-lg" form="estimate" type="submit"></input>
                        <button class="btn btn-secondary btn-sm" onclick="history.back()" type="button">cancel</button>
                    </div>
                </div>



            </div>
        </form>
    </div>

    <script crossorigin="anonymous" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var orderDate = /*[[${order.dateTime}]]*/ null;

        /*]]>*/


        let config = {
            altInput: true,
            altFormat: "F j, Y",
            defaultDate: orderDate,
        }
        let updateDate = orderDate;
        console.log(updateDate);

        $("#date-field").attr("datetime", updateDate);

        $(".date-selector").flatpickr(config);

        $("#select-time-interval").val(new Date(orderDate).getHours() === 11 ? 0 : 1);

        $(".date-selector, #select-time-interval").change(changeDate);

        function changeDate() {
            updateDate = getDateTime();
            console.log(updateDate);
            $("#date-field").val(updateDate);
        }

        function getDateTime() {
            let dateTime = new Date($("#estimate-time").val());
            let hours = parseInt($("#select-time-interval").val()) === 0 ? 11 : 15;
            dateTime.setUTCHours(hours);
            return dateTime.toISOString();
        }
    </script>
    <script src="/js/edit.js"></script>
    <script>
        getPrices();
        $("#estimate").change(estimateCount);
    </script>
</body>

</html>